.layerList {
    display: none;
}

.esriLayerList .esriTitle {
    font-size: 12px;
    line-height: 14px;
}

.esriLayerList .esriToggleButton {
    margin-right: 10px;
}

.layerListContainer {
    overflow-y: auto;
    max-height: 100%;
    max-height: calc(100% - 2px);
    z-index: 30;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 4px 7px !important;
}

    .layerListContainer table {
        border-collapse: initial !important;
        border-spacing: 2px !important;
    }

    .layerListContainer:not(.isInlined) {
        position: absolute;
        top: 0;
        right: 20px;
        width: 300px;
    }

    .layerListContainer .glyphicon-chevron-up,
    .layerListContainer .glyphicon-chevron-down {
        display: none !important;
    }

    /* TODO need an option on map control that define anchor */

    .layerListContainer .collapseBtn {
        margin-top: 0 !important;
    }

    .layerListContainer.collapsed .collapseBtn {
        margin-top: 1px !important;
    }

    .layerListContainer:not(.collapsed) .glyphicon-chevron-up {
        display: block !important;
    }

    .layerListContainer.collapsed .glyphicon-chevron-down {
        display: block !important;
    }

    .layerListContainer .content {
        overflow-y: auto;
        max-height: 400px;
        overflow-x: hidden;
        margin-right: 0px;
        margin-left: 8px !important;
    }

    .layerListContainer.isInlined .content {
        /* This makes IE10 to crash when opening a Map Series that contains an inlined layerList for first entry */
        /*max-height: inherit;*/
        max-height: initial;
    }

    .layerListContainer .content.settingsOpen {
        min-height: 55px
    }

    .layerListContainer,
    .layerListContainer .settingsOverlay {
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

        /*
 * Inline mode
 */

        .layerListContainer.isInlined .titleBtn {
            display: none;
        }

        .layerListContainer.isInlined {
            border-radius: 0;
            color: inherit !important;
            background-color: inherit !important;
            box-shadow: none !important;
        }

            .layerListContainer.isInlined .content {
                display: block !important;
            }
